# 이 파일에 사용된 도커 컴포즈 파일 형식의 버전을 가리킨다.
# 여러번에 걸쳐 문법과 표현 가능한 요소에 많은 변화가 있었으므로 먼저 정의가 따르는 형식 버전을 지정할 필요가 있다.
version: "3.7"

# 애플리케이션을 구성하는 모든 컴포넌트를 열거하는 부분이다.
# 도커 컴포즈에서는 실제 컨테이너 대신 서비스 개념을 단위로 삼는ㄷ.
# 하나의 서비스를 같은 이미지로 여러 컨테이너에서 실행할 수 있기 때문이다.
services:
  todo-web:
    image: diamol/ch06-todo-list
    ports:
      - "8020:80"
    networks:
      - app-net

# 서비스 컨테이너가 연결될 모든 도커 네트워크를 열거하는 부분이다.
networks:
  app-net:
    external:
      name: nat